html, body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  padding: 8px;
}

.container-column {
  flex-direction: column;
  gap: 4px;
}

.space-around {
  justify-content: space-around;
}

#imagem_preview {
  width: 600px;
  height: 600px;
  object-fit: contain;
  display: none;
}

#image_output {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  pointer-events: none;
  z-index: 1;
}