html, body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  padding: 8px;
}

.container-column {
  flex-direction: column;
  gap: 4px;
}

#image_preview {
  max-width: 300px;
  max-height: 300px;
  margin-top: 15px;
  display: none;
}