html, body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  padding: 8px;
}

.container-column {
  flex-direction: column;
  gap: 4px;
}

.space-around {
  justify-content: space-around;
}

#image_preview {
  max-width: 100%;
  max-height: auto;
  margin-top: 15px;
  display: block;
}

#image_output {
  position: absolute;
  top:0;
  left: 0;
  pointer-events: none;
}